/*HEADER_FEATURES*/

.header-pricing {
  max-width: 100%;
  display: flex;
}
.header-pricing .title-pricing {
  background-color: black;
  color: #ffffff;
  max-width: 100%;
  display: block;
  padding: 10%5%;
  width: 42.36%;
  height: auto;
}
.header-pricing .image-pricing {
  width: 57.64%;
}
.header-pricing .image-pricing img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.header-pricing .title-pricing h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  letter-spacing: 4.16667px;
}
.header-pricing .title-pricing p {
  line-height: 25px;
  font-size: 15px;
  mix-blend-mode: normal;
  opacity: 0.6;
}
/*TOGGLE SWITCH*/
.toggle-switch {
  display: flex;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #000000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #000000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000000;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: #ffffff;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*PRICING*/
.section-pricing {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.toggle-switch {
  margin-top: 5%;
}
.pricing-wrapper {
  padding: 3% 12%;
  column-gap: 1.9rem;
}

.pricing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.8rem;
}
.pricing.active {
  position: relative;
  background-color: #000000;
  color: #ffffff;
}
.pricing.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background: linear-gradient(26.57deg, #ffc593 0%, #bc7198 43.29%, #5a77ff 83.33%);
  transition: all 0.3s;
}

.pricing h5 {
  font-weight: 700;
  font-size: 24px;
  line-height: 25px;

  margin-bottom: 1rem;
}
.pricing p {
  text-align: center;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.btn-active {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  padding: 12px 24px;
  margin-top: 1.5rem;
  width: 100%;
  cursor: pointer;
  background-color: #ffffff;
  color: #000000;
}
.btn-active:hover {
  background-color: #dfdfdf;
  color: #000000;
}
.btn-active:focus {
  background-color: #dfdfdf;
  border: none;
}
.btn-right {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  padding: 12px 24px;
  border: 1px solid #000000;
  margin-top: 1.5rem;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}
.btn-right:hover {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #000000;
}
.btn-left {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  padding: 12px 24px;
  border: 1px solid #000000;
  margin-top: 1.5rem;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}
.btn-left:hover {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #000000;
}
/*Table*/
.table {
  margin: 0 auto;
  max-width: 600px;
  margin-bottom: 140px;
  font-size: 12px;
}
.table thead:first-child {
  border-bottom: 1px solid #000000;
}

.table thead tr th:not(:first-child) {
  text-align: center;
}
.table tbody tr td:not(:first-child) {
  text-align: center;
}

.pricing-link {
  position: relative;
  padding-bottom: 5px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  background-color: transparent;
  transition: all 0.3s;
}
.pricing-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: #ffffff;
  transition: all 0.3s ease-in-out;
}
.pricing-link:hover::before {
  width: 100%;
  opacity: 0.5;
}
@media (max-width: 768px) {
  .header-pricing {
    flex-direction: row;
  }
  .header-pricing .image-pricing {
    width: 35.55%;
  }
  .header-pricing .title-pricing {
    width: 64.45%;
  }
  .pricing-wrapper {
    flex-direction: column;
    padding: 0;
  }
  .pricing {
    background-color: #f5f5f5;
    padding: 3.5rem 1.25rem;
    margin: 1rem 1.75rem;
  }
}
@media (max-width: 576px) {
  .header-pricing {
    flex-direction: column-reverse;
  }
  .header-pricing .image-pricing {
    width: 100%;
  }
  .header-pricing .image-pricing {
    width: 100%;
  }
  .header-pricing .title-pricing {
    width: 100%;
  }
}
