.main {
  width: 100%;
}
.home-hero {
  max-width: 100%;

  display: flex;
}
.home-hero .title-hero {
  background-color: black;
  color: #ffffff;
  max-width: 100%;
  display: block;
  padding: 80px 5%;
  width: 42.36%;
  height: auto;
}
.home-hero .image-hero {
  width: 57.64%;
}
.home-hero .title-hero h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  letter-spacing: 4.16667px;
}
.home-hero .title-hero p {
  line-height: 25px;
  font-size: 15px;
}

/*SECTION STORIES*/
.home-stories {
  max-width: 100%;
  display: flex;
}
.home-stories .title-stories {
  background-color: black;
  padding: 80px 5%;
  color: #ffffff;
  max-width: 100%;
  display: block;

  /*flex-direction: column;
  justify-content: center;
  align-items: flex-start;*/
  width: 42.36%;
  height: auto;
}
.home-stories .image-stories {
  width: 57.64%;
}
.home-stories .title-stories h1 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 4.16667px;
}
.home-stories .title-stories p {
  font-size: 15px;
  line-height: 25px;
}
/*SECTION DESIGNED*/
.home-designed {
  max-width: 100%;
  display: flex;
}
.home-designed .title-designed {
  background-color: black;
  color: #ffffff;

  max-width: 100%;
  display: block;
  padding: 80px 5%;
  /*flex-direction: column;
  justify-content: center;
  align-items: flex-start;*/
  width: 42.36%;
  height: auto;
}
.home-designed .image-designed {
  width: 57.64%;
}
.home-designed .title-designed h1 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 4.16667px;
}
/*GALLERY*/
.wrapper-image {
  display: flex;
  position: relative;
}
.wrapper-image > img {
  max-width: 100%;
  height: auto;
}
.card-overlay {
  display: flex;
  padding: 0 10% 10% 15%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  position: absolute;
  width: 100%;
  height: 100%;
  color: #ffffff;
  background-color: rgb(#ffffff, 0.2);
  z-index: 1;
}
