.home-hero {
  max-width: 100%;
  display: flex;
  background-color: #000000;
}
.vertical-line {
  position: relative;
  top: 173px;
  width: 6px; /* Adjust the width of the line as needed */
  height: 25vh; /* Adjust the height of the line as needed */
  background: linear-gradient(26.57deg, #ffc593 0%, #bc7198 43.29%, #5a77ff 83.33%);
}

.vertical-line:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(26.57deg, #ffc593 0%, #bc7198 43.29%, #5a77ff 83.33%); /* Same gradient as .vertical-line */
  /*opacity: 0.5;  Adjust the opacity of the gradient overlay as needed */
}

.line-gradient {
  height: 4px;
  background-image: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  background-repeat: no-repeat;
}

.home-hero .title-hero {
  background-color: black;
  color: #ffffff;
  max-width: 100%;
  display: block;
  padding: 80px 5%;
  width: 42.36%;
  height: auto;
}
.home-hero .image-hero {
  width: 57.64%;
}
.img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-hero .title-hero h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  letter-spacing: 4.16667px;
}
.home-hero .title-hero p {
  line-height: 25px;
  font-size: 15px;
}

/*SECTION STORIES*/
.home-stories {
  max-width: 100%;
  display: flex;
}
.home-stories .title-stories {
  background-color: #ffffff;
  padding: 8.5rem 7rem;
  color: #000000;
  max-width: 100%;
  display: block;
  width: 42.36%;
  height: auto;
}
.link-stories a {
  color: #000000;
}
.home-stories .image-stories {
  width: 56.2%;
}
.home-stories .image-stories img {
  width: 100%;
}
.home-stories .title-stories h1 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 4.16667px;
}
.home-stories .title-stories p {
  font-size: 15px;
  line-height: 25px;
  opacity: 0.6;
}
/*SECTION DESIGNED*/
.home-designed {
  max-width: 100%;
  display: flex;
}
.home-designed .title-designed {
  background-color: #ffffff;
  color: #000000;
  max-width: 100%;
  display: block;
  padding: 8.5rem 7rem;
  width: 42.36%;
  height: auto;
}
.home-designed .image-designed {
  width: 100%;
}
.home-designed .title-designed h1 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 4.16667px;
}
.home-designed .title-designed p {
  font-size: 15px;
  line-height: 25px;
  opacity: 0.6;
}
/*GALLERY*/
.home-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.wrapper-image {
  width: 100%;
  display: flex;
  position: relative;
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}

.wrapper-image:hover {
  cursor: pointer;
  transform: translateY(-20px);
}
.wrapper-image > img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
/*
.horizontal-line {
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to bottom, red, rgba(0, 0, 0, 0)) 0 1 105%;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6px;
  background: linear-gradient(26.57deg, #ffc593 0%, #bc7198 43.29%, #5a77ff 83.33%);
  transition: all 0.3;
}
/*
.horizontal-line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(26.57deg, #ffc593 0%, #bc7198 43.29%, #5a77ff 83.33%);
}
.horizontal-line:hover {
  width: 0%;
}*/
.card-overlay {
  display: flex;
  padding: 0 10% 10% 15%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  position: absolute;
  width: 100%;
  height: 100%;
  color: #ffffff;
  background-color: rgb(#ffffff, 0.2);
  z-index: 1;
}
.card-overlay hr {
  width: 100%;
  border-width: 1px;
  opacity: 0.6;
}

/*HOME_FEATURES*/
.features-wrapper {
  padding: 8% 12%;
  column-gap: 1.9rem;
}
.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.features h5 {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.features p {
  text-align: center;
}
/*MEDIA*/

@media (max-width: 768px) {
  .home-hero {
    display: flex;
    flex-direction: row;
  }
  .home-hero .image-hero {
    width: 35.55%;
  }
  .home-hero .title-hero {
    width: 64.45%;
    padding: 11rem 3.5rem;
  }
  .home-hero .title-hero p {
    opacity: 0.6;
  }

  .home-hero .title-hero .get-link {
    margin-left: 0;
  }

  .home-stories {
    display: flex;
    flex-direction: row;
  }
  .home-stories .image-stories {
    width: 35.55%;
  }
  .home-stories .title-stories {
    width: 64.45%;
    padding: 11rem 3.5rem;
  }
  .home-stories .title-stories p {
    opacity: 0.6;
  }

  .home-designed {
    display: flex;
    flex-direction: row;
  }
  .home-designed .image-designed {
    width: 35.55%;
  }
  .home-designed .title-designed {
    width: 64.45%;
    padding: 11rem 3.5rem;
  }
  .home-designed .title-designed p {
    opacity: 0.6;
  }

  .home-gallery {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .wrapper-image {
    width: 100%;
  }
  .img {
    width: 100%;
  }

  .features-wrapper {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  .home-gallery {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .wrapper-image {
    padding: 0;
    width: 100%;
  }
  .home-hero {
    max-width: 100%;
    flex-direction: column-reverse;
  }
  .home-hero .image-hero {
    width: 100%;
  }
  .home-hero .title-hero {
    padding: 6rem 1.5rem;
    width: 100%;
  }
  .home-stories {
    max-width: 100%;
    flex-direction: column;
  }
  .home-stories .image-stories {
    width: 100%;
  }
  .home-stories .title-stories {
    padding: 6rem 1.5rem;
    width: 100%;
  }
  .home-stories .title-stories h1 {
    font-size: 32px;
  }
  .home-stories .title-stories p {
    font-size: 15px;
  }
  .home-designed {
    max-width: 100%;
    flex-direction: column-reverse;
  }
  .home-designed .image-designed {
    width: 100%;
  }
  .home-designed .title-designed {
    padding: 6rem 1.5rem;
    width: 100%;
  }
  .home-designed .title-designed h1 {
    font-size: 32px;
  }
  .home-designed .title-designed p {
    font-size: 15px;
  }
}
