.navbar {
  height: auto;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav {
  display: flex;
  align-items: center;
}
nav ul {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  list-style: none;
}
nav ul li {
  margin-right: 37px;
  text-transform: uppercase;
  cursor: pointer;
}
.menu {
  border: 0;
  background-color: transparent;
  transition: all 0.9s ease-in-out;
}

.show-menu {
  display: none;
}
.close {
  border: 0;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.hidde-close {
  display: none;
}
.hidde-mobile {
  display: none;
}
.show-mobile {
  display: block;
}

.nav-desktop {
  display: none;
}
.get-link {
  margin-left: 2rem;
}
