.navbar {
  position: relative;
  height: auto;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 2;
}
.nav-desktop {
  display: flex;
  align-items: center;
}
.nav-desktop ul {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  list-style: none;
}
.nav-desktop ul li {
  margin-right: 37px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s;
}
.nav-desktop ul li:hover {
  opacity: 0.3;
}
nav ul li a {
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}
.get-link {
  margin-left: 2rem;
}

.get-link a {
  padding: 12px 24px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  background-color: #000000;
  transition: all 0.3s;
}
.get-link a:hover {
  background: #dfdfdf;
  color: #000000;
}
.hidde-mobile {
  display: none;
}
.toggle-btn {
  display: none;
}
@media (max-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .nav-desktop {
    display: flex;
    align-items: flex-start;
  }
  .nav-desktop ul {
    display: flex;
    align-items: center;
  }
  .nav-desktop ul li {
    margin-right: 37px;
  }
  .nav-desktop ul li:hover {
    opacity: 0.5;
  }
}

nav ul li a {
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}
.get-link {
  margin-left: 2rem;
}

.get-link a {
  padding: 12px 24px;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  background-color: #000000;
}

@media (max-width: 576px) {
  .navbar {
    justify-content: space-between;
  }
  .nav-desktop {
    display: none;
  }
  .navbar-brand {
    margin-left: 1.25rem;
  }
  .toggle-btn {
    margin-right: 1.75rem;
    display: block;
  }
  .nav-mobile {
    position: absolute;
    display: block;
    text-align: center;
    background: white;
    padding: 2rem;
    width: 100%;
    transform: translateY(150px);
    transition: all 0.3s;
    z-index: -1;
    opacity: 0.99;
  }

  .nav-mobile ul {
    display: block;
    padding-left: 0;
  }
  .nav-mobile ul li {
    margin-right: 0;
  }

  .nav-mobile ul li:not(:last-child) {
    margin-bottom: 20px;
  }
  .nav-mobile ul {
    margin-bottom: 1.5rem;
  }
  .hr-mobile {
    margin-bottom: 2rem;
    border-width: 1px;
    border-color: #000000;
    opacity: 0.25;
  }
  .get-link {
    margin-left: 0;
  }
  .show-mobile {
    transform: translateY(-150px);
    opacity: 0;
  }
  .show-menu {
    display: none;
  }
  .menu {
    border: 0;
    background-color: transparent;
    transition: all 0.9s ease-in-out;
  }

  .close {
    border: 0;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  .hidde-close {
    display: none;
  }
  .closeNav {
    display: none;
  }
}
