@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@400;700&family=DM+Sans:wght@400;500;700&family=League+Spartan:wght@400;700&family=Raleway:wght@300;400;500&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}
main {
  position: relative;
  z-index: 1;
}
